@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Arimo:400,700|Roboto+Slab:400,700");

:root {
  font-size: calc(0.5vw + 1vh);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.2s ease
}

.ball{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ff4444;
  position: relative;
  z-index: 1000;
  top: 5px;
  left: -5px;
}

body {
  min-width: 420px;
  background:rgb(0, 0, 0);
  color: white;
  user-select: none;
}

h1,
h4 {
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
}

span {
  font-size: 3rem;
}

p {
  font-family: "Poppins", serif;
}

a, a:link, a:active, a:visited {
  color: #0066aa;
  text-decoration: none;
  border-bottom: #000013 0.16rem solid;
}

a:hover {
  color: #000013;
  border-bottom: #0066aa 0.16rem solid;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.add-task-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  height: 5.3rem;
  margin: auto;
  background: #000000;
  border: #ffffff 0.2rem solid;
  color: white;
  border-radius: 0.2rem;
  padding: 0.4rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 1.6rem auto;
}

.column {
  width: 9rem;
  margin: 0 0.6rem;
  background: #000000;
  border-radius: 6px;
}

.column-header {
  padding: 0.1rem;
}

.column-header h4 {
  text-align: center;
}

.to-do-column .column-header {
  background: black;
  border-radius: 2px;
  outline: 0.2rem solid #ff872f;
}

.to-do-column{
  border: rgb(181, 122, 79) 0.2rem solid;
}

.doing-column .column-header {
  background: black;
  border-radius: 2px;
  outline: 0.2rem solid #13a4d9;
}

.doing-column{
  border: #2c809e 0.2rem solid;
}

.done-column .column-header {
  background: black;
  border-radius: 2px;
  outline: 0.2rem solid #15d072;
}

.done-column{
  border: #209259 0.2rem solid;
}

.trash-column .column-header {
  background: black;
  border-radius: 2px;
  outline: 0.2rem solid #ff4444;
}

.trash-column{
  border: #b84d4d 0.2rem solid;
}

.task-list {
  min-height: 3rem;
}

.column-button {
  text-align: center;
  padding: 0.1rem;
}

.button {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  border: #000013 0.14rem solid;
  border-radius: 0.2rem;
  color: #000013;
  padding: 0.6rem 1rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.delete-button {
  background-color: #ff4444;
  margin: 0.1rem auto 0.6rem auto;
  transition: all 0.2s ease-in-out;
}

.delete-button:hover {
  background-color: #fa7070;
}

.add-button {
  background-color: black;
  border: 0.2rem solid #ffcb1e;
  color: white;
  padding: 0 1rem;
  height: 2.8rem;
  width: 10rem;
  margin-top: 0.6rem;
  transition: all 0.2s ease-in-out;
}

.add-button:hover {
  border: 0.2rem solid #aa891c;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  list-style-type: none;
  background: rgb(0, 0, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0.4rem;
  height: 4rem;
  color: white;
  border: #ffffff 0.15rem solid;
  border-radius: 0.2rem;
  cursor: move;
  vertical-align: middle;
}

#taskText {
  background: black;
  color: white;
  border: white 2px solid;
  border-radius: 0.2rem;
  text-align: center;
  font-family: "Roboto Slab", serif;
  height: 4rem;
  width: 7rem;
  margin: auto 1rem auto 0.1rem;
}

.task p {
  margin: auto;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  transform: rotate(5deg);
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  transition: all 0.2s ease-in-out;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
