*{
    list-style: none;
    font-family: 'Source Code Pro', monospace;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background:linear-gradient(100deg, #1F1E15, #15161f);
}

.block {
    position: relative;
    margin: 10% auto 0;
    width: 50%;
    height: 400px;
    background: linear-gradient(45deg, rgb(15, 15, 15), rgb(22, 22, 22));
    border-radius: 5px;
    min-width: 320px;
}

.block2 {
    position: relative;
    margin: 10% auto 0;
    width: 50%;
    height: 200px;
    background: linear-gradient(45deg, rgb(15, 15, 15), rgb(22, 22, 22));
    border-radius: 5px;
    min-width: 320px;
}

.glow::before , glow::after{
    content:'';
    position:absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #e6fb04, #ff6600, #ff3300, #ff0099, #ff00ff, #5e0dd0, #099fff, #00ffff,#00ff66, #00ffff, #5e0dd0, #ff00ff, #ff0099, #ff3300, #ff6600);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    border-radius: 5px;
    animation: animate 15s linear infinite;
    filter:blur(30px);
}

.glow2::before , glow2::after{
    content:'';
    position:absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #ff0099, #ff00ff, #5e0dd0, #5e0dd0, #ff00ff, #ff0099, #7737a8, #6c39be, #7737a8, #ff0099, #ff00ff, #5e0dd0, #5e0dd0, #ff00ff, #ff0099);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    border-radius: 5px;
    animation: animate2 15s linear infinite;
    filter:blur(30px);
}

h1{
    position: relative;
    font-size: 2rem;
    color:#fff;
    font-weight: 300;
    text-align: center;
}

p{
    position: relative;
    font-size: 2rem;
    color:#fff;
    font-weight: 300;
    text-align: center;
}

a{
    position: relative;
    font-size: 2rem;
    color:#fff;
    font-weight: 300;
    text-align: center;
}

.pastafari{
    display: flex;
    justify-content: center;
}

.wrapper{
    display: inline-flex;
    justify-content: center;
}

ul{
    display: flex;
    text-align: center;
    margin-top: 15vw;
}

ul li{
    position: relative;
    display: block;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #272424;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.5s;
}

ul li::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    /*background: red;*/
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: 0.5s;
}
ul li:nth-child(1)::before{
    background: #fe0000;
}

ul li:nth-child(1):hover::before{
    box-shadow: 0 0 15px #fe0000;
}

ul li:nth-child(1):hover{
    color: #fe0000;
    box-shadow: 0 0 15px #fe0000;
    text-shadow: 0 0 15px #fe0000;
}

ul li:nth-child(2)::before{
    background: linear-gradient(-150deg, #7737a8, #9e41ab, #e60c20, #e9cc04);
}

ul li:nth-child(2):hover::before{
    box-shadow: 0 0 15px linear-gradient(45deg, #7737a8, #9e41ab, #e60c20, #e9cc04);
}

ul li:nth-child(2):hover{
    color: #9e41ab;
    box-shadow: 0 0 15px linear-gradient(45deg, #7737a8, #9e41ab, #e60c20, #e9cc04);
    text-shadow: 0 0 15px linear-gradient(45deg, #7737a8, #9e41ab, #e60c20, #e9cc04);
}

ul li:nth-child(3)::before{
    background: #1ca0f1;
}

ul li:nth-child(3):hover::before{
    box-shadow: 0 0 15px #1ca0f1;
}

ul li:nth-child(3):hover{
    color: #1ca0f1;
    box-shadow: 0 0 15px #1ca0f1;
    text-shadow: 0 0 15px #1ca0f1;
}

ul li:nth-child(4)::before{
    background: #5865f2;
}

ul li:nth-child(4):hover::before{
    box-shadow: 0 0 15px #5865f2;
}

ul li:nth-child(4):hover{
    color: #5865f2;
    box-shadow: 0 0 15px #5865f2;
    text-shadow: 0 0 15px #5865f2;
}


ul li:nth-child(5)::before{
    background: linear-gradient(180deg, #04070c, #0d86b6);
}

ul li:nth-child(5):hover::before{
    box-shadow: 0 0 15px linear-gradient(180deg, #04070c, #0d86b6);
}

ul li:nth-child(5):hover{
    color: #f9fcfe;
    box-shadow: 0 0 15px linear-gradient(180deg, #04070c, #0d86b6);
    text-shadow: 0 0 15px linear-gradient(180deg, #04070c, #0d86b6);
}
ul li:hover::before{
    transform: scale(1.2);
    /*box-shadow: 0 0 15px red;*/
    filter: blur(3px)
}

.contact{
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }

    50%{
        background-position: 200% 0;
    }
}

@keyframes animate2{
    0%{
        background-position: 0 0;
    }

    50%{
        background-position: 400% 0;
    }
}

@keyframes up{
    to{
        margin-bottom: 10px
    }
}

::-webkit-scrollbar{
    width: 15px;
    height: 15px;
    }
    ::-webkit-scrollbar-thumb{
    background: #15161f;
    border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover{
    background: #15161f;
    }
    ::-webkit-scrollbar-track{
    background: #15161f;
    box-shadow: inset 7px 10px 12px 0px #15161f;
    }