* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    color: #e0e0e0;
    background: #111;
}

footer{
    position: absolute;
    bottom: 0%;
    font-size: 1rem;
    background: #1e1e1e;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
}

a{
    text-decoration: none;
}


a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #b28300;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

:link, :visited{
    color: #b28300
}

.container {
    padding: 30px;
    animation: animate 2s linear forwards;
    opacity: 0;
    background-color: #2c2c2c;
    text-align: center;
    padding-top: 12px;
    border-radius: 10px;
    border: 2px dashed #a92831;
    transition: all 0.5s ease
}

.summary{
    text-transform: capitalize
}

.icon{
    font-size: 4rem;
    padding: 30px;
}

@keyframes animate{
    from{
        opacity: 0;
        margin-bottom: 100px
    }
    to{
        opacity: 1;
        margin-bottom: 0px;
    }
}