body{
    font-family: 'Rubik', sans-serif;
    background: #1e1e1e;
    color: #e0e0e0;
    width: 100%; 
    height: 100%;
    text-align: center;
}

input{
    color: #e0e0e0;
    background: #111;
    border: 1px solid rgb(31, 31, 32);
    border-radius: 5px;
    padding: 10px;
    transition: all 0.5 ease-in-out;
}

button{
    padding: 10px;
    color: #e0e0e0;
    background: #111;
    border: 1px solid rgb(31, 31, 32);
    border-radius: 5px;
}

li{
    list-style-type:none;
    border-radius: 3px;
    text-align: center;
    transition: all 0.5 ease-in-out;
}

p{
    display: inline;
    transition: all 0.5 ease-in-out;
}

.container{
    width: 50%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #2c2c2c;
    text-align: center;
    transition: all 0.5 ease-in-out;
}

.btn-delete{
    display: inline;
    transition: all 0.5 ease-in-out;
}